.container {
  width: 100%;
}

.mainContent {
  display: grid;
  grid-template-columns: 280px 1fr;
  gap: 2rem;
  margin-top: 2rem;
}

.sidebar {
  position: sticky;
  top: 2rem;
  height: fit-content;
}

.content {
  min-width: 0;
}

@media (max-width: 1024px) {
  .mainContent {
    grid-template-columns: 1fr;
  }

  .sidebar {
    position: static;
  }
}
