---
import BaseLayout from "@/layouts/BaseLayout.astro";


const title = "404 - Página no encontrada";
const description = "La página que buscas no existe o ha sido movida.";
---

<BaseLayout title={title} description={description}>
  <h1>404 - Página no encontrada</h1>
</BaseLayout>
