---
import BaseLayout from "@/layouts/BaseLayout.astro";

const title = "Contacto";
const description = "Información sobre cómo contactarnos.";
---

<BaseLayout title={title} description={description}>
  <h1>Contacto</h1>
</BaseLayout>
