---
import BaseLayout from "@/layouts/BaseLayout.astro";


const title = "Productos";
const description = "Listado de productos disponibles en nuestra tienda.";
---

<BaseLayout title={title} description={description}>
  <h1>Productos</h1>
</BaseLayout>
