---
import BaseLayout from "@/layouts/BaseLayout.astro";


const title = "Sobre nosotros";
const description = "Información sobre nuestra empresa y equipo.";
---

<BaseLayout title={title} description={description}>
  <h1>Sobre nosotros</h1>
</BaseLayout>
