---
import Layout from "@/layouts/BaseLayout.astro";
import { createClient } from "../lib/supabase";
import { getSubcategoryWithConfig } from "@/lib/api";
import ProductGrid from "@/components/ProductGrid";

const supabase = createClient({
  request: Astro.request,
  cookies: Astro.cookies,
});

const data = await getSubcategoryWithConfig(supabase, "camas");

console.log(data);
console.log("-------------------");

---

<Layout title="Productos">
  <h1>{data.name}</h1>

  <!-- Pasamos la configuración y los productos iniciales a la isla -->
  <ProductGrid
    client:load
    initialProducts={data.products}
    filterConfig={data.filter_config}
    subcategorySlug={"camas"}
  />
</Layout>
